{
  "Jwt": {
    "Secret": "CHANGE-ME-minimum-32-chars-dev-secret-key"
  },
  "ConnectionStrings": {
    "SqlDb": "Server=.\\SQLEXPRESS;Database=StrongholdEstimating_Demo;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "Ai": {
    "Provider": "groq",
    "GroqApiKey": "YOUR-GROQ-API-KEY",
    "AzureFoundryEndpoint": "https://YOUR-RESOURCE.openai.azure.com",
    "AzureFoundryKey": "YOUR-AZURE-API-KEY",
    "AzureFoundryModel": "gpt-4.1 mini-1",
    "AzureFoundryApiVersion": "2024-12-01-preview"
  }
}
